.navbar{
    top:0px;
    left:0px;
    position: fixed;
    background-color: whitesmoke;
    color:#53AAFC;
    width: 100%;
    padding: 20px 10px;
}
.navbar h2{
    display: inline;
}
.navbar .sorting_buttons{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    float: right;
    padding-right: 10px;
}
.navbar .sorting_buttons button{
    padding: 5px 20px;
    background-color: whitesmoke;
    color:#53AAFC;
    border: 1px solid #53AAFc;
    border-radius: 10px;
    box-shadow: inset 0px 1px 0px rgba(83,170,252,.5);
    cursor: pointer;
}
.navbar .action_buttons{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.navbar .action_buttons button{
    padding: 5px 20px;
    background-color: whitesmoke;
    color:#53AAFC;
    border: 1px solid #53AAFc;
    border-radius: 10px;
    box-shadow: inset 0px 1px 0px rgba(83,170,252,.5);
    cursor: pointer;
}
.navbar .action_buttons button.disabled_button{
    color: #888888;
    border-color: #888888;
    cursor: not-allowed;
}
.main_body{
    padding-top: 180px;
    height: 100%;
}
.array_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: flex-end;
}
.slider_div{
    display: block;
}
.navbar .sorting_buttons button.disabled_button{
    color: #888888;
    border-color: #888888;
    cursor: not-allowed;
}